<html lang="en">
  <%- include('./Partials/head.ejs') %>

  <body>
    <%- include('./Partials/nav.ejs') %>

    <div class="details content">
      <h2><%= blog.title %></h2>
      <p class="meta">Views: <span id="view-count"><%= stats.views %></span> · Likes: <span id="like-count"><%= stats.likes %></span></p>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
      <button data-doc="<%=blog.id %>" class="like">Like</button>
      <a data-doc="<%=blog.id %>" class="Update">Update</a>
      <a data-doc="<%=blog.id %>" class="delete">Delete</a>
    </div>

    <script>
      // delete blog
      const trashcan = document.querySelector("a.delete");
      trashcan.addEventListener("click", (e) => {
        e.preventDefault();
        const endpoint = `/blogs/${trashcan.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE"
        })
          .then((response) => response.json())
          .then((data) => {
            window.location.href = data.redirect;
          })
          .catch((err) => {
            console.log(err);
          });
      });

      // update blog
      const update = document.querySelector("a.Update");
      update.addEventListener("click", (e) => {
        console.log("We are about to update");
        const endpoint = `/blogs/create/${update.dataset.doc}`;
        fetch(endpoint, {
          method: "PUT"
        })
          .then((response) => response.json())
          .then((data) => {
            window.location.href = data.redirect;
          })
          .catch((err) => {
            console.log(err);
          });
      });

      const likeButton = document.querySelector("button.like");
      const likeCount = document.querySelector("#like-count");
      likeButton.addEventListener("click", (e) => {
        e.preventDefault();
        const endpoint = `/blogs/${likeButton.dataset.doc}/like`;
        fetch(endpoint, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          }
        })
          .then((response) => response.json())
          .then((data) => {
            likeCount.textContent = data.likes;
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
  <%- include('./Partials/footer.ejs') %>
</html>
